---
baseURL: 'https://via.elis.nu/'
defaultContentLanguage: sv
title: 'Vegan i Arvika 游꺔'
theme: albatross

# Style code highlights with classes rather than inline styles.
markup:
  highlight:
    noClasses: false

params:
  copyrightOwner: 2023 Vegan i Arvika

  darkLogoPath: /img/logo.png
  lightLogoPath: /img/logo.png
  ogImagePath: /img/og-image.png
  iconPath: false

  extraHeadContent: |-
    <!-- Matomo -->
    <script>
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension"
         should be called before "trackPageView" */
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//matomo.elis.nu/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '2']);
        var d=document,
            g=d.createElement('script'),
            s=d.getElementsByTagName('script')[0];
        g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  style:
    # Toggle to enable or disable the CSS rules for the food menu layout,
    # set to 'true' to enable or 'false' to disable.
    page-include-food-menu-styles: 'false'

    # Light colors
    light-background-color: '#f0f0f0'
    light-border-color: '#2d7f35'
    light-foreground-color: '#3c3c3c'
    light-menu-background: '#f0f0f0'
    light-menu-foreground: '#3c3c3c'

    # Dark colors
    dark-background-color: '#1C201B'
    dark-border-color: '#2d7f35'
    dark-menu-background: '#273F2D'

languages:
  sv:
    menu:
      main:
        - name: Start
          url: /
          weight: 10

        - name: Kontakt
          url: /#kontakt
          weight: 20

        - name: H친llbarhet
          url: /h친llbarhet/
          weight: 30

        - name: P친 g친ng
          url: /blog/
          weight: 40
